Repository DrewBradley/dnd-monstronomicon, pull requests merged in 2021-03, with the labels that each got.

#40 Feature/encounter delete button
  src/actions/actions.js
  src/actions/types.js
  src/components/Encounter.css
  src/components/Encounter.js
  src/reducers/EncounterReducer.js
Labels: Encounter, enhancement

#41 Fix/nav buttons
  src/actions/actions.js
  src/components/App.js
  src/components/Filter.js
  src/components/Header.css
  src/components/Header.js
  src/components/Search.js
  src/components/ShowAllMonsters.js
Labels: Filter, Header, Search, bug

#43 Add localStorage file and retrieve localStorage and add to state.
  src/components/Encounter.js
  src/localStorage.js
  src/reducers/Reducer.js
  src/reducers/SearchReducer.js
  src/store.js
Labels: enhancement

#45 Make sure frog monster page renders.
  src/components/Monster.js
Labels: Monster, bug

#48 Implement PropTypes on all necessary files.
  src/components/App.js
  src/components/Encounter.js
  src/components/Filter.js
  src/components/Search.js
  src/components/ShowAllMonsters.js
Labels: enhancement

#49 Style main page monster buttons to look cool.
  src/components/Display.css
Labels: Display

#51 Carry styling from display and monster page into encounter page.
  src/components/Encounter.css
  src/components/Filter.css
  src/components/Filter.js
  src/index.css
Labels: Encounter

#54 Feature/responsiveness mobile
  public/index.html
  src/components/Display.css
  src/components/Encounter.css
  src/components/Header.css
  src/components/Monster.css
  src/components/Monster.js
Labels: Display, Encounter, Filter, Header, Monster, Search

#55 Add conditional render to empty encounter page.
  src/components/Encounter.js
Labels: Encounter, enhancement

#56 Show number of monsters in the encounter, on the button.
  src/actions/actions.js
  src/components/Header.js
Labels: Encounter, Header

#57 Feature/pwa deploy
  offline.html
  package-lock.json
  public/icons/icon-192x192.png
  public/icons/icon-256x256.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/index.html
  public/manifest.json
  public/manifest.webmanifest
  public/registration.js
  public/sw.js
Labels: enhancement

#59 Add static.json.
  src/static.json
Labels: bug, invalid, wontfix

#58 Add responsiveness for tablet size.
  src/actions/actions.js
  src/components/Display.css
  src/components/Encounter.css
  src/components/Header.css
  src/components/Monster.css
Labels: enhancement

#62 Feature/splash landing
  package.json
  src/components/App.js
  src/components/Splash.css
  src/components/Splash.js
Labels: Display

#64 Add mobile touch event listener to search button.
  src/components/Search.js
Labels: Header, bug

#65 Feature/encounter tests
  cypress.json
  cypress/integration/encounter.spec.js
  cypress/integration/homepage.spec.js
Labels: Encounter

#66 Fix/blank search return
  src/actions/actions.js
  src/components/App.js
  src/components/Search.js
  src/components/ShowAllMonsters.js
Labels: Display, Search

#68 Reset state in Filter, thus improving UX and saving the world.
  src/components/Filter.js
Labels: Filter

#67 Adjust spacing and tabs, remove comments.
  src/actions/actions.js
  src/components/App.js
  src/components/Display.css
  src/components/Encounter.js
  src/components/Filter.js
  src/components/Header.css
  src/components/Header.js
  src/components/Monster.css
  src/components/Monster.js
  src/components/Search.js
  src/components/Splash.css
  src/components/Splash.js
  src/index.css
  src/reducers/EncounterReducer.js
  src/reducers/Reducer.js
  src/reducers/SearchReducer.js
  src/reducers/index.js
Labels: enhancement
