Repository DrewBradley/dnd-monstronomicon, pull requests merged in 2021-02, with the labels that each got.

#1 Create basic file structure.
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/App.test.js
  src/actions/types.js
  src/components/App.css
  src/components/App.js
  src/components/Display.css
  src/components/Display.js
  src/components/Encounter.css
  src/components/Encounter.js
  src/components/Filter.css
  src/components/Filter.js
  src/components/Header.css
  src/components/Header.js
  src/components/Monster.css
  src/components/Monster.js
  src/components/Search.css
  src/components/Search.js
  src/index.js
  src/logo.svg
  src/reducers/Reducer.js
  src/reducers/index.js
  src/reportWebVitals.js
  src/setupTests.js
  src/store.js
Labels: actions, reducer, store

#9 Display each component.
  src/components/App.js
  src/components/Display.js
  src/components/Encounter.js
  src/components/Filter.js
  src/components/Header.js
  src/components/Monster.js
  src/components/Search.js
  src/index.js
Labels: Display, Encounter, Filter, Header, Monster, Search

#10 Feature/basic css
  package-lock.json
  src/components/App.css
  src/components/Header.css
  src/components/Header.js
  src/index.css
  yarn.lock
Labels: Header

#13 Feature // Add PropTypes.
  package-lock.json
  package.json
  src/components/App.js
Labels: documentation

#14 Feature/api calls
  src/components/App.js
  src/components/Display.js
  src/components/Monster.js
Labels: Display, Monster, Network Requests

#17 Feature/add redux
  package-lock.json
  package.json
  src/actions/actions.js
  src/actions/types.js
  src/components/App.js
  src/components/Display.js
  src/components/Monster.js
  src/index.js
  src/reducers/Reducer.js
  src/reducers/index.js
  src/store.js
  yarn.lock
Labels: Display, Monster, actions, reducer, store

#18 Feature/search monsters
  src/actions/actions.js
  src/actions/types.js
  src/components/App.js
  src/components/Search.css
  src/components/Search.js
  src/reducers/Reducer.js
  src/reducers/SearchReducer.js
  src/reducers/index.js
Labels: Display, Header, Search, enhancement

#20 Feature/show all monsters
  src/components/Header.js
  src/components/ShowAllMonsters.css
  src/components/ShowAllMonsters.js
Labels: Display, Header

#21 Feature/filter monsters
  src/actions/actions.js
  src/actions/types.js
  src/components/App.js
  src/components/Filter.css
  src/components/Filter.js
  src/reducers/FilterReducer.js
  src/reducers/Reducer.js
  src/reducers/index.js
Labels: Display, Filter, Header, Network Requests, actions, reducer, store

#23 Testing/home page display
  cypress.json
  cypress/fixtures/monster.json
  cypress/fixtures/monsters.json
  cypress/integration/homepage.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/actions/actions.js
  src/components/App.js
  src/components/Display.js
  src/components/Filter.js
  src/components/Header.js
  src/components/Search.js
  src/reducers/FilterReducer.js
  src/reducers/SearchReducer.js
  src/reducers/index.js
Labels: Display, Filter, Header, Search, actions, reducer

#22 Add dice favicon.
  public/favicon.ico
Labels: enhancement

#24 Feature/header styling
  src/brown-die.svg
  src/components/Filter.js
  src/components/Header.css
  src/components/Header.js
  src/components/Search.css
  src/components/Search.js
  src/components/ShowAllMonsters.css
  src/components/ShowAllMonsters.js
  src/dragon.svg
  src/dragonR.svg
  src/index.css
  src/light-die.svg
Labels: Display, Header, enhancement

#26 feature// add styling to main
  src/components/App.js
  src/components/Display.css
  src/components/Display.js
Labels: Display, enhancement

#27 Make the whole button clickable.
  src/components/App.js
  src/components/Display.css
  src/components/Header.css
  src/components/ShowAllMonsters.js
Labels: Display

#28 Feature/encounter-function
  src/actions/actions.js
  src/actions/types.js
  src/components/Encounter.js
  src/components/Monster.css
  src/components/Monster.js
  src/reducers/EncounterReducer.js
  src/reducers/index.js
Labels: Encounter, Monster, actions, enhancement, reducer

#29 Fix React Warnings about keys, and div's in p's.
  src/components/Monster.js
Labels: Monster, bug

#31 Encounters display
  src/actions/actions.js
  src/components/Encounter.css
  src/components/Encounter.js
  src/components/Monster.js
Labels: Display, Encounter, enhancement

#32 Feature/test Monster display
  cypress/fixtures/monster.json
  cypress/integration/homepage.spec.js
  cypress/integration/monster.spec.js
Labels: Monster

#33 Feature/header style adjustment
  src/components/Filter.js
  src/components/Header.css
  src/components/Header.js
  src/components/Search.js
  src/components/ShowAllMonsters.js
Labels: Display, Header

#35 Fix/search with enter
  src/components/Filter.js
  src/components/Header.js
  src/components/Search.js
Labels: Header
